{% extends 'base.html' %}
{% load static %}

{% block add_css %}
    <link rel="stylesheet" href="{% static "css/users_forms.css" %}">
    <link rel="stylesheet" href="{% static "css/coupons.css" %}">
{% endblock %}

{% block content %}
<div class="container">
    <img src="{% static 'images/catjpg.jpg' %}" class="bg-profile">
    <div class="my-container mt-3 overflow-y-scroll" style="width: 820px; left: 47%; height:600px;">
        <h3 class="txt-headline text-center pt-5">Ваш профиль</h3>
        <div class="d-flex justify-content-center pt-4 txt-content">
            <div class="col-md-10">
                <div class="tabs justify-content-center">
                    <span class="tab mainInf active txt-headline"><a style="letter-spacing: .05rem">данные профиля</a></span>
                    <span class="tab visits txt-headline"><a style="letter-spacing: .05rem">История посещений</a></span>
                    <span class="tab guardianship txt-headline"><a style="letter-spacing: .05rem">Опекунство</a></span>
                    <span class="tab bonuses txt-headline"><a style="letter-spacing: .05rem">Бонусы</a></span>
                </div>
                <div><span name="user"></span></div>
                    <div class="content">
                        <div class="mainInf-cont cont">
                            <div class="row justify-content-center pt-4 txt-content">
                                <div class="col-md-5">
                                    <label class="mb-2 mx-3 form-label">Имя</label>
                                    <div class="px-3 form-control mb-3" name="username"></div>
                                    <label class="mb-2 mx-3 form-label">Почта</label>
                                    <div class="px-3 form-control mb-3" name="email"></div>
                                </div>
                                <div class="col-md-5">
                                    <label class="mb-2 mx-3 form-label">Телефон</label>
                                    <div class="px-3 form-control mb-3" name="phone"></div>
                                    <label class="mb-2 mx-3 form-label">День рождения</label>
                                    <div class="px-3 form-control mb-3" name="birthday"> </div>
                                </div>
                                <div class="row justify-content-center col-4 pt-5">
                                    {% csrf_token %}
                                    <a class="btn btn-dark btn-block mb-3" href="{% url 'users:change_profile' %}">Изменить профиль</a>
                                    <button id="id_logout" class="btn btn-dark btn-block">Выйти</button>
                                </div>
                            </div>
                        </div>
                        <div class="visits-cont cont">
                            <div class="invisible" id="booking_exists">
                                <div class="txt-content pt-1 d-flex flex-column justify-content-start">
                                    <h4 class="text-center txt-headline fs-5">Ближайшие записи:</h4>
                                    <div class="d-flex flex-column pt-2 booking-near">  
                                        <div id="is_active">
                                            <ul id="append_is_active" class="list-group booking-near pb-2"></ul>
                                        </div>
                                    </div>
                                    <h4 class="text-center txt-headline fs-5">Старые записи:</h4>
                                    <div class="d-flex flex-column pt-2 booking-history">
                                        <div id="isnt_active">
                                            <ul id="append_isnt_active" class="list-group booking-history"></ul>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="invisible" id="booking_doesnt_exist">
                                <div class="txt-content pt-1 d-flex flex-column align-items-center">
                                    <h4 class="px-3 pb-2 fs-6">Вы к нам еще не приходили :(</h4>
                                    <img src="{% static 'gifs/crying-cat.gif' %}" alt="crying cat" class="crying-gif mb-3">
                                    <a class="btn btn-dark btn-block " href="{% url 'booking:schedule' %}">Исправим?</a>
                                </div>
                            </div>
                        </div>
                        <div class="guardianship-cont cont txt-content">
                            <div class="invisible" id="guardianship_exists">
                                <div class="txt-content pt-1 d-flex flex-column justify-content-start">

                                        <h4 class="text-center txt-headline fs-5">Ваши котики</h4>
                                        <div class="d-flex flex-column pt-3">
                                            <ul id="append_cats" class="list-group">
                                                
                                            </ul>
                                        </div>

                                </div>
                            </div>
                            <div class="invisible" id="guardianship_doesnt_exist">
                                <div class="txt-content pt-1 d-flex flex-column align-items-center">
                                    <h4 class="px-3 pb-2 fs-6">Вы не опекаете еще ни одного котика :(</h4>
                                    <img src="{% static 'gifs/cat_crying_2.gif' %}" alt="crying cat" class="crying-gif mb-3">
                                    <a class="btn btn-dark btn-block" href="{% url 'cats:guardianship' %}">Помочь котикам?</a>
                                </div>
                            </div>
                        </div>
                        <div class="bonuses-cont cont txt-content">
                            <div class="d-flex pt-4">
                                <div class="coins-block mx-5">
                                    <div>
                                        <img src="{% static 'images/catCoin.png' %}" class="img-coins z-2">
                                    </div>
                                    <div class="mx-2">
                                        <div class="px-3 coins" name="coins_count"></div>
                                    </div>
                                </div>
                                <div class="coins-label z-2">
                                    <span class="txt-headline">Мяу</span>коины — бонусная валюта, которую можно получить
                                    <span class="text-wavy">при оплате заказов и услуг</span> на нашем сайте.
                                </div>
                            </div>
                            <div class="mt-4 mx-5 text-center history-coins relative-position">
                                <a class="txt-headline fs-5 history-coins-label">История ваших накоплений</a>
                                <img class="cursor-img" src="{% static 'images/cursor.png' %}">
                                <div class="history-coins-block mt-3">
                                    <div name="history-coins" class="d-flex flex-column justify-content-center align-items-center">
                                    </div>
                                </div>
                            </div>
                            <h4 class="txt-headline fs-4 text-center pt-5">Ваши промокоды и скидки!</h4>
                            <div class="position-relative my-4">
                                <button id="left" class="position-absolute arrow-left">
                                    <img src="{% static 'images/arrow.png' %}" width="72px">
                                </button>
                                <div name="coupons" class="container-cards p-2">
                                </div>
                                <button id="right" class="position-absolute arrow-right">
                                    <img src="{% static 'images/arrow.png' %}" width="72px">
                                </button>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
{% include 'users/modal_del_booking.html' %}
{% include 'users/modal_del_sub.html' %}
{% endblock %}

{% block add_scripts %}
    <script src="{% static "js/js-msg.js" %}"></script>
    <script src="{% static "js/jq-ajax-users.js" %}"></script>
    <script src="{% static "js/Users/get_profile.js" %}"></script>
    <script src="{% static "js/Bonuses/get_coupons.js" %}"></script>
    <script src="{% static "js/Users/profile.js" %}"></script>
    <script src="{% static "js/Bonuses/cards.js" %}"></script>
{% endblock %}