{% extends 'base.html' %}
{% load static %}

{% block add_css %}
    <link rel="stylesheet" href="{% static "css/users_forms.css" %}">
{% endblock %}

{% block content %}
<div class="container">
    <div class="my-container mt-3">
        <div class="half">
            <div class="tabs">
                <span class="tab active text-center txt-headline">Восстановление пароля</span>
            </div>
            <p class="pb-2" style="color: #8c8c8c;">Мы отправим вам письмо на почту с ссылкой для установки нового пароля</p>
            <div class="content pt-4">
                <form action="{% url 'users:reset_password' %}" method="post" class="txt-content inpt pt-3" id="user_forms_reset">
                    {% csrf_token %}
                    <div class="mb-4">
                        <label class="form-label mx-4" for="{{ form.email.id_for_lable }}">Эл. почта<span class="txt-headline txt-select">*</span></label>
                        {{ form.email }}
                        <div class="invalid-feedback" style="text-transform: lowercase" id="id_email_feedback"></div>
                    </div>
                    <div class="row justify-content-center me-6 pt-5">
                        <button type="submit" class="btn btn-dark btn-block col-7">Отправить письмо</button>
                        <a class="text-center col-6 pt-3 forgot txt-content" href="{% url 'users:page_login' %}">← Назад</a>
                    </div>
                </form>
            </div>
        </div>
        <div class="half bg"></div>
    </div>
</div>
{% endblock %}

{% block add_scripts %}
    <script src="{% static "js/jq-ajax-user-reset.js" %}"></script>
{% endblock %}