{% extends 'base.html' %}
{% load static %}

{% block add_css %}
    <link rel="stylesheet" href="{% static "css/users_forms.css" %}">
{% endblock %}

{% block content %}
<div class="container">
    <div class="my-container mt-3">
        <div class="half">
            <div class="tabs">
                <span class="tab active txt-headline" style="background-color: red!important;">Восстановление пароля</span>
            </div>
            <div class="content pt-4">
                <form action="{% url 'users:new_password' uid token %}" method="post" class="txt-content inpt" id="user_forms_reset">
                    {% csrf_token %}
                    <input class="invisible" value="">
                    <div class="mb-4">
                        <label class="form-label mx-4" for="{{ form.new_password.id_for_lable }}">Пароль<span class="txt-headline txt-select">*</span></label>
                        {{ form.new_password }}
                        <div class="invalid-feedback" style="text-transform: lowercase" id="id_new_password_feedback"></div>
                    </div>
                    <div class="mb-4">
                        <label class="form-label mx-4" for="{{ form.re_new_password.id_for_lable }}">Подтверждение<span class="txt-headline txt-select">*</span></label>
                        {{ form.re_new_password }}
                        <div class="invalid-feedback" style="text-transform: lowercase" id="id_re_new_password_feedback"></div>
                    </div>
                    <div class="row justify-content-center me-6 pt-4">
                        <button type="submit" class="btn btn-dark btn-block col-7">Установить пароль</button>
                    </div>
                </form>
            </div>
        </div>
        <div class="half bg"></div>
    </div>
</div>
{% endblock %}

{% block add_scripts %}
    <script src="{% static "js/jq-ajax-user-reset.js" %}"></script>
{% endblock %}