{% extends 'base.html' %}
{% load static %}

{% block add_css %}
    <link rel="stylesheet" href="{% static "css/contacts.css" %}">
{% endblock %}

{% block content %}
    <div class="block bg-start-block">
        <h1 class="txt-headline text-center py-5 fs-1">Вам нравятся коты?</h1>
        <h2 class="txt-headline text-center fs-3 pb-4">Тогда приходите к нам!</h2>
        <h2 class="txt-headline text-center fs-3 pb-4" style="margin-top:300px;">Лапки&Кофе</h2>
        <h2 class="text-center font-Bosk" style="margin-top: -1.4rem">
            <a class="btn btn-primary btn-bg-color fs-3 pb-3 px-5" href="{% url 'booking:schedule' %}">Записаться</a>
        </h2>
    </div>
    <div class="block-main pt-5">
        {% include 'main/about.html' %}
    </div>
    <div class="block pt-5">
        {% include 'main/cats.html' %}
    </div>
    <div class="null-block"></div>
    <div class="block">
        {% include 'main/contacts.html' %}
    </div>
    <div class="container d-flex flex-column align-items-center justify-content-center pt-5 pb-5">
        <h2>
            <p class="text-center pt-3 txt-headline txt-select-cat">
                <img height="100px" src="{% static "/images/heart_contact.png" %}">
                А вот и мои настоящие контакты!
                <img height="100px" src="{% static "/images/heart_contact.png" %}">
            </p>
        </h2>
        <div class="col-10 pt-1 bg-pink rounded align-items-center custom-shadow">
            <div class="d-flex justify-content-center pt-5">
                <ul class="txt-content p-3">
                    {% for social,contact in contacts.items %}
                        <li class="list-img-contact list-item-contact">
                            <div class="row">
                                <div class="col">
                                    <p class="form-control contact d-flex justify-content-between">
                                        <span class="pe-3">{{contact}}</span>
                                        <button class="copy-btn ml-auto">
                                            <img width="20px" src="{% static '/icons/copy.svg' %}">
                                        </button>
                                    </p>
                                </div>
                            </div>
                        </li>
                    {% endfor %}
                </ul>
            </div>
        </div>
    </div>
    <footer class="bg-body-tertiary text-center txt-headline text-lg-start">
        <div class="text-center p-3" style="background-color: rgba(0, 0, 0, 0.05);">
            <a class="text-body" href="https://github.com/AxoLena/pawsAndCoffee">AxoLena</a>
        </div>
    </footer>
{% endblock %}