{% extends 'base.html' %}
{% load static %}

{% block content %}
<div class="container">
    <div class="d-flex flex-column justify-content-center align-items-center pt-6 txt-content">
        <h2 class="txt-headline">Упс, у нас тут похоже ошибочка вышла!</h2>
        <p class="fs-8 txt-select pt-1">404</p>
        <p class="fs-2 txt-headline">Страница не найдена</p>
        <img src="{% static 'images/error_cat.png' %}" height="300rem" class="mt-3">
    </div>
    <img src="{% static 'images/black-arrow.png' %}" class="arrow-page-error">
</div>
{% endblock %}